/* Animation coeur */
@keyframes coeur-anim {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

/* Animation loading spinner */
@keyframes rotation {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes filtre {
  from {
    opacity: 1;
    z-index: 900;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

/* Animation appartition des menus de restaurants */
@keyframes menu-anim {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
