@mixin bouton {
  padding: 1em 1.5em;
  font-family: "robotoregular";
  background: linear-gradient($secondary, $primary);
  color: white;
  font-size: 0.9em;
  border-radius: 2.1em;
  box-shadow: 0px 3px 4px lightgray;
  cursor: pointer;
}

@mixin coeur-rempli {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  &:hover {
    animation: coeur-anim 2s;
    font-weight: bold;
    background: linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
  }
}
