@import "responsive.scss";
@font-face {
  font-family: "shrikhandregular";
  src: url("fonts/shrikhand-regular-webfont.woff2") format("woff2"),
    url("fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"),
    url("fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
body {
  margin: 0;
}

.logo {
  font-family: "shrikhandregular";
  text-align: center;
  line-height: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  margin-bottom: 0px;
  box-shadow: 0px 3px 4px lightgray;
}

form {
  background-color: rgba(211, 211, 211, 0.37);
  height: 3em;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  padding-left: 65px;
  .destinationdéfaut {
    border: transparent;
    font-weight: 600;
    font-size: 1em;
    background-color: rgba(211, 211, 211, 0);
    padding-left: 20px;
  }
  .marqueur {
    padding-top: 15px;
  }
}

.accroche {
  display: flex;
  flex-direction: column;
  text-align: center;
  .titreaccroche {
    font-family: "robotobold";
    padding: 1em 1em 0 1em;
    margin-bottom: 0.5em;
  }
  .phraseaccroche {
    font-family: "robotolight";
    margin-top: 0px;
    margin-bottom: 2em;
  }
  .accrocheBouton {
    margin: auto;
    padding: 1em;
    font-family: "robotoregular";
    background: linear-gradient($secondary, $primary);
    color: white;
    font-size: 0.9em;
    border-radius: 2.1em;
  }
}

.fonctionnement {
  margin-left: 3%;
}
